body{
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1{
    color: #007bff;
    margin-bottom: 20px;
}
h2{
    color: #009688;
    margin-bottom: 15px;
}
h3{
    color: #ff5722;
    background-color: #007bff;
    margin-bottom: 20px;
}
p{
    line-height: 1.5;
    margin-bottom: 15px;
}
section{
    padding: 20px;
}
img{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}